backend/.idea/
backend/backend.iml
backend/target/
backend/log/

frontend/.DS_Store
frontend/node_modules
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/test/unit/coverage
frontend/test/e2e/reports
frontend/selenium-debug.log

# Editor directories and files
frontend/.idea
frontend/.vscode
frontend/package-lock.json
/out
/.idea
/log
/backend/*.iml
