<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="city.thesixsectorteam.wheelworld.area.dao.AreaDao">

    <!-- 查询所有的地区 -->
    <select id="queryAll"   resultType="city.thesixsectorteam.wheelworld.area.domain.Area">
        select * from t_area where 1 = 1
        <if test="area.name != null and area.name !=''">
          and  name like '%${area.name}%'
        </if>
    </select>

    <!-- 新增地区 -->
    <insert id="addArea">
        insert into t_area (code,name,info,createTime,fatherId)
        values (#{area.code},#{area.name},#{area.info},#{area.createTime},#{area.fatherId})
    </insert>
</mapper>