#login {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url('../images/login/temp1.jpg') no-repeat center center;
  background-size: 100% 100%;
}
#login > .loginBox {
  height: 60vh;
  width: 335px;
  border-radius: 10px;
  position: absolute;
  right: 10%;
  top: 20%;
  background-color: rgba(255, 255, 255, 0.5);
}
#login > .loginBox > .loginTitle {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #d33d3d;
  font-weight: bold;
}
